<!doctype html>
<html ng-app='Terminal'>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>That Guy That Loves Chocolate Milk</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/layout.css">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body ng-controller='MainCtrl'>
        <h1 style="text-align: center;">Abhinav Havaldar A.K.A. That Guy That Loves Chocolate Milk</h1>
        <hr>
        <div>
            <div class="col-md-8">
                <div class="col-md-12" style="text-align: center;margin-bottom: 10px;">
                    ////////////////////////////////////////////////<br>
                    ///&nbsp;Welcome to the command line to Abhinav's&nbsp;///<br>
                    ///&nbsp;Life. It uses basic linux commands just&nbsp;&nbsp;///<br>
                    ///&nbsp;like Abhinav.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;///<br>
                    ////////////////////////////////////////////////<br>
                </div>
                <div ng-bind-html='trust(commands)' class="row">
                    
                </div>
                <div class="row">
                    <form ng-submit="enter_command(current_command)">
                        <em width='15%'>{{guest}} >> </em> <input ng-model='current_command' width="85%"></input>
                    </form>
                </div>
            </div>
            <div class="col-md-4" id="me">
                Your Name:
                <input type="name" class="form-control" id="name" placeholder="Your Name" ng-model='guest'><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;__<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;<eye>O</eye>\&nbsp;/|&nbsp;|'-.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.\__/&nbsp;||&nbsp;|&nbsp;&nbsp;&nbsp;|<--Abhinav working<br>
                &nbsp;&nbsp;&nbsp;_&nbsp;/&nbsp;&nbsp;`._&nbsp;\|_|_.-'&nbsp;&nbsp;&nbsp;hard at this.<br>
                &nbsp;&nbsp;|&nbsp;/&nbsp;&nbsp;\__.`=._)&nbsp;(_&nbsp;&nbsp;&nbsp;&nbsp;site<br>
                &nbsp;&nbsp;|/&nbsp;._/&nbsp;&nbsp;|"""""""""|<br>
                &nbsp;&nbsp;|'.&nbsp;&nbsp;`\&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
                &nbsp;&nbsp;&nbsp;"""/&nbsp;/&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
                &nbsp;&nbsp;&nbsp;)&nbsp;/_/|&nbsp;|.-------.|<br>
                &nbsp;&nbsp;'&nbsp;&nbsp;`-`'&nbsp;"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<br>
                <br>    
                INSTRUCTIONS:<br>
                -------------<br> 
                <hi>ls</hi>: This will give you a list of all the directories and files in the working directory.<br><br> 
                <hi>cd</hi>: directory_name: This will change directory such that you will be in your specified directory.<br> <br> 
                <hi>cd ..</hi>: Use this command to go back one directory.<br><br> 
                <hi>cd</hi>: By typing just cd you will go to the root directory.<br><br>  
                <hi>pwd</hi>: This command will tell you the current directory you are in.<br><br> 
                <hi>cat text_file</hi>: cat will print out the contents of the specified text file. Please just use it with files with a .txt extention. You can also print many files at a time simply by seperating them with spaces.<br><br>
                <hi>open file_name</hi>: open will open the specified file in your program of preference (i.e. this webiste). Use this with .file extentions. This is limited to one file at a time.

            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript">
            window.setInterval(function() {
                $('eye').html('-');
                setTimeout(function(){
                    $('eye').html('O');
                }, 200);
            }, 4500)
        </script>
    </body>
</html>